<!-- views/products.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - {{this.price}} <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button></li>
        {{/each}}
    </ul>

    <script>
        function addToCart(productId) {
            fetch(`/api/carts/cart-id/products/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al agregar el producto al carrito');
                }
                return response.json();
            })
            .then(data => {
                console.log('Producto agregado al carrito:', data);
            })
            .catch(error => {
                console.error('Error:', error.message);
            });
        }
    </script>
</body>
</html>
